/* место для вашего кода */

/* ========   WORKING ON HEADER AREA ============= */

.header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 105px 2fr;
  grid-template-rows: repeat(1, 1fr);
  justify-content: space-between;
  gap: 15px;
  padding: 93px 50px 93px 26px;
}

.header__links-list {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0 20px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height:21.13px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  justify-self: end;
}

.address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  max-width:240px;
  line-height: 24.3px;
}

/* ========   WORKING ON COVER SECTION ============= */

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color:#000000;
  opacity: 60%;
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
  padding: 170px 50px 50px;/*was no final 52*/
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  gap: 20px;
}

.aligned-text {
  text-align: start;
  line-height: 115px;
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100px;
  letter-spacing: 30px;
}

.aligned-text_right {
  text-align: end;
  line-height: 100px;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 81px;
  margin-top: 118px;
}

.cover__description-text {
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  line-height: 25.83px;
}

/* ========   WORKING ON LOTS SECTION ============= */

.lots__heading {
  margin-left: 45px;
  margin-bottom: 30px; /*was 30*/
  font-size: 40px;
  font-weight:700;
  text-transform: uppercase;
  line-height: 46.96px;
}

.lots {
  padding: 180px 20px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap:26px ;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 50px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 26.4px;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px; /*was 30*/
  margin-left: 45px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
}

/* ========   WORKING ON ABOUT SECTION ============= */

.about {
  display: flex;
  gap: 73px;
  align-items: start;
  padding: 5px 0 0 47px;
  margin: 5px 24px; /*was 0 24px;*/
}

.about__logo-image {
  clip-path: circle(50%);
  padding: 47px;
  width: 240px;
  height: 240px;
  background-color: #000000;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-top: 100px;
}

.about__title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* ========   WORKING ON FOOTER SECTION ============= */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  padding: 90px 50px;
  line-height: 1.2;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  text-decoration: none;
}
