/* место для вашего кода */

/* ========   WORKING ON HEADER AREA ============= */
.header {
    border: 1px solid;
    padding: 92px 24px;
    background-image: url(/images/logo-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 135px;
}
.header-inside-container {
    border: 1px solid pink;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 4fr 1.3fr;
    height: 105px;
    align-items: center;
    padding: 0 15px;
    line-height: 1.2;
}
.header__links-list {
    display: flex;
    line-height: 1.1;
    gap: 40px;
    list-style: circle;
}
.header__link_active {
    text-decoration: none;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__links-list-item {
    font-size: 18px;
    font-weight: 400;
}
.address a, p {
    font-size: 18px;
    line-height: 1.2;
    font-style:normal;
    font-weight: 400;
}
/* ========   WORKING ON COVER SECTION ============= */

